.header {
    height: auto;
    width: 100%;
    padding: 10px 0px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 10px;
    z-index: 2;
    background-color: rgba(0,0,0,0.3);
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
    }

    &__logo img {
        width: 70px;
        margin: 0px 20px;
    }

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

    }

    &__search {
        position: relative;

        &::before {
            content: "";
            width: 16px;
            height: 16px;
            background-image: url("../../assets/search.svg");
            background-size: cover;
            position: absolute;
            left: 10px;
            top: 50%;
            transform: translateY(-50%);
            z-index: 1;
        }

        input {
            width: 200px;
            border-radius: 80.179px;
            background: #EFEFEF;
            color: #4a4a4a;
            font-size: 14px;
            padding: 10px 10px 10px 40px;
            outline: none;

        }
    }

    &__buttons {
        display: flex;
        column-gap: 4.6875rem;

        button {
            padding: 10px 65px;
            border-radius: 80px;
            background: #0057FF;
            color: rgb(255, 255, 255);

            &:hover {
                background-color: #223965;
                cursor: pointer;
            }
        }
    }
}


@media(max-width:1100px) {
    .header__buttons {
        column-gap: 30px;

        .header__search {
            input {
                width: 150px;
            }
        }

        .header__button {
            button {
                padding: 10px 30px;
            }
        }
    }

    .nav__list {
        column-gap: 20px;
    }
}

@media (max-width:780px) {
    .header{
        &__logo{
            margin: 0;            
        }
        &__row{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}


.searchResult {
    width: 300px;
    height: 200px;
    background-color: #fff;
    border: 1px solid;
    border-radius: 0px 0px 20px 20px;
    position: absolute;
    top: 50px;
    left: -40px;
    z-index: 10;
    display: none;
    overflow-y: scroll;

    &.active {
        display: block;
    }
}


.searchList {
    &__link:hover {
        li {
            background-color: #8e8e8e;
        }
    }

    .searchItem {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 30px;
        padding: 10px 20px;

        img {
            width: 20px;
            border: 1px solid;
            border-radius: 50%;
        }

        h2 {
            font-size: 20px;
        }
    }
}